*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container {
  align-items: center;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
  width: 100%;
}

.form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  margin-bottom: 10px;
  color: gray;
}

.form-control input {
  color: grey;
  font-size: 1rem;
  margin-bottom: 5px;
  padding: 8px;
  width: 100%;
  border: 2px solid rgb(224, 223, 223);
  border-radius: 5px;
}

.form-control input:focus {
  outline: none;
  border-color: rgba(52, 52, 226, 0.658);
}

.form-control.success input {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}

.form-control small {
  color: red;
  font-size: 0.8rem;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.submit-btn {
  width: 100%;
  border: none;
  background-color: rgba(52, 52, 226, 0.767);
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 1rem;
}
